.job-card {
  list-style: none;
  background-color: #475569;
  border: 1px solid #e2e8f0;
  border-radius: 10px;
  padding: 18px;
  margin-bottom: 18px;
  transition: 0.2s ease;
  
}

.job-card:hover {
  border-color: #4f46e5;
  transform: translateY(-2px);
}

.job-card-link {
  text-decoration: none;
  color: #000000;
  display: block;
}

.logo-title-container-card {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
  
}

.company-logo-card {
  width: 52px;
  height: 52px;
  margin-right: 14px;
}

.title-rating-container-card {
  display: flex;
  flex-direction: column;
}

.job-title-card {
  font-size: 18px;
  font-weight: 600;
  color: #1e293b;
  margin-bottom: 4px;
  
}

.rating-container-card {
  display: flex;
  align-items: center;
}

.star-icon-card {
  font-size: 18px;
  color: #fbbf24;
  margin-right: 5px;
}

.rating-number-card {
  font-size: 14px;
  color: #475569;
}

.location-package-container-card {
  display: flex;
  justify-content: space-between;
  margin: 12px 0;
}

.icon-type-container-card {
  display: flex;
  align-items: center;
}

.type-icon {
  font-size: 18px;
  color: #475569;
  margin-right: 6px;
}

.type-text,
.package-text {
  font-size: 14px;
  color: #475569;
}

.seperator {
  border: none;
  border-top: 1px solid #e2e8f0;
  margin: 12px 0;
}

.description-heading-card {
  font-size: 16px;
  font-weight: 600;
  color: #1e293b;
  margin-bottom: 8px;
}

.job-description-card {
  color: #475569;
  font-size: 14px;
  line-height: 1.6;
}
