.home-container {
  background-color: #121212;
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100vw;
  background-image: url('https://assets.ccbp.in/frontend/react-js/home-lg-bg.png');
}

.home-page {
  display: flex;
  justify-content: flex-start;  
  align-items: flex-start;       
  padding-top: 80px;            
  padding-left: 80px;           
}

.home-page-content {
  width: 90%;
  max-width: 650px;
  text-align: left;
}


.home-heading {
  font-size: 64px;
  font-weight: 700;
  color: #ffffff;
  line-height: 1.3;
  margin-bottom: 14px;
  text-align: left;
}

.home-description {
  font-size: 16px;
  color: #94a3b8;
  margin-bottom: 24px;
  line-height: 1.6;
}

.find-jobs-button {
  background-color: #4f46e5;
  color: #ffffff;
  font-size: 15px;
  font-weight: 500;
  padding: 10px 18px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}

.find-jobs-button:hover {
  background-color: #6366f1;
}

@media screen and (max-width: 768px) {
  .home-heading {
    font-size: 26px;
  }
  .home-description {
    font-size: 14px;
  }
}
